src/main/mule/cicd_mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da4eda6d-732d-4655-9836-516d8cefe815" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd_mulesoftFlow" doc:id="d7622a22-bdb5-44bd-90c2-da7f77f50bff" >
		<http:listener doc:name="Listener" doc:id="94791be3-af15-44fa-964c-777386988e2e" config-ref="HTTP_Listener_config" path="/CICD"/>
		<ee:transform doc:name="Transform Message" doc:id="6ea02919-f517-4d0f-814b-fd52f10fc9e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"success",
	 "update": "this has been updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2559a114-8833-4447-bfdd-f2590850ba59" message="#[payload]"/>
	</flow>
</mule>
